@model QuanLyGiangDay.Models.GiangVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiangVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotenGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotenGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThangNamSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThangNamSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanToc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanToc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
